<!DOCTYPE html>
<html lang="en">

<head>
	<title>Settings</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="/favicon.ico?v=100003" type="image/x-icon" />
	<link rel="stylesheet" href="css/style.css?v=100003" />
  <script src="js/polyfill.js?v=100003"></script>
  <script src="js/jquery.min.js?v=100003"></script>
  <script src="js/vue.min.js?v=100003"></script>
	<script src="js/common.js?v=100003"></script>
	<style>
    .form-content { padding: 0 16px; max-width: 600px; margin: 0 auto; }
    .header-brand { line-height: 72px; padding: 0 16px; }
    .form-footer { margin-top: 16px; margin-bottom: 16px; }
    .col-form-label { display: inline-block; min-width: 100px; }

	@media screen and (min-width: 480px) {}
	</style>
</head>

<body class="home-body">
<div id="app">
  <header id="header" class="header">
    <div class="header-inner">
      <div class="header-right">
        <a id="logout_item" href="#logout" style="display: none;">Logout</a>
        <a id="login_item" href="login.html">Login</a>
      </div>

      <label class="header-brand" id="header-brand">Settings</label>
    </div>
  </header>

  <div class="form-content">
    <div class="form-header">
      <h5 class="form-title" id="exampleModalLabel">Network Settings</h5>
    </div>

    <div class="form-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">IP Mode:</label>
          <select name="ip_mode" v-model="ip_mode" class="form-control">
            <option value="static">Static IP</option>
            <option value="dhcp">DHCP</option>
          </select>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">IP:</label>
          <input type="text" name="ip" v-model="ip" class="form-control" :disabled="ip_mode!='static'">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">Netmask:</label>
          <input type="text" name="netmask" v-model="netmask" class="form-control" :disabled="ip_mode!='static'">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">Router:</label>
          <input type="text" name="router" v-model="router" class="form-control" :disabled="ip_mode!='static'">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">DNS Server:</label>
          <input type="text" name="dns" v-model="dns" class="form-control" :disabled="ip_mode!='static'">
        </div>
      </form>
    </div>

    <div class="form-footer">
      <button type="button" class="btn btn-secondary">Reset</button>
      <button type="button" class="btn btn-primary" onclick="onConfigWrite()">Submit</button>
    </div>

    <div class="form-header">
      <h5 class="form-title" id="exampleModalLabel">System Status</h5>
    </div>

    <div class="form-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Version:</label>
          <input type="text" name="ip" :value="status.version" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">MAC:</label>
          <input type="text" name="ip" :value="status.mac" class="form-control" disabled>
        </div>
      </form>
    </div>

    <div class="form-header">
      <h5 class="form-title" id="exampleModalLabel">Frimware Update</h5>
    </div>

    <div class="form-body">
      <form>
        <div class="form-group" v-if="firmware.version">
          <label for="recipient-name" class="col-form-label">Version:</label>
          <input type="text" name="ip" :value="firmware.version" class="form-control" disabled>
        </div>

        <div class="form-group" v-if="firmware.description">
          <label for="recipient-name" class="col-form-label">Description:</label>
          <input type="text" name="ip" :value="firmware.description" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">State:</label>
          <input type="text" name="ip" :value="update.state" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Result:</label>
          <input type="text" name="ip" :value="update.result" class="form-control" disabled>
        </div>
      </form>
    </div>

    <div class="form-footer">
      <button type="button" class="btn btn-primary" onclick="onSystemUpdate()">Update</button>
      <button type="button" class="btn btn-primary" onclick="onSystemUpgrade()">Upgrade</button>
      <button type="button" class="btn btn-primary" onclick="onSystemReboot()">Reboot</button>
   
    </div>
  </div>

  <footer id="footer"></footer>

</div>
<script>

var items = [
    { name: "weather", title: "Weather", description: "Weather information", },
    { name: "product", title: "Product", description: "Product information", }
]

var $vueData = {
  ip_mode: 'static',
  ip: '192.168.1.12',
  netmask: '255.255.255.0',
  router: '192.168.1.1',
  dns: '8.8.8.8 192.168.1.1',
  status: {},
  update: {},
  firmware: {}
}

var app = new Vue({
	el: '#app',
	data: $vueData
})

function onStatusRead() {
	var url = "/system/read";
	$.get(url, function(result) {
		if (!result || result.error) {
			return;
    }
    
    $vueData.status = result.system || {}
    $vueData.update = result.update || {}
    $vueData.firmware = result.firmware || {}
	});

	return false;
}

function onConfigRead() {
	var url = "/config/read";
	$.get(url, function(result) {
		if (!result || result.error) {
			return;
    }
    
    var config = result;
    $vueData.ip_mode = config.ip_mode
    $vueData.ip = config.ip
    $vueData.netmask = config.netmask
    $vueData.router = config.router
    $vueData.dns = config.dns

	});

	return false;
}

function onConfigWrite(callback) {
	var url = "/config/write";

	var data = {
    router: $vueData.router,
    dns: $vueData.dns,
		netmask: $vueData.netmask,
    ip: $vueData.ip,
		ip_mode: $vueData.ip_mode
	}

	console.log(url, data)
	$.post(url, data, function(result) {
		if (!result || result.error) {
      alert('Failed to save. Please try again later');

		} else {
      alert('Save successfully');
		}
  });
  
  return false;
}

function onSystemUpdate() {
  var url = "/system/write";

	var data = {
    update: 1
	}

	console.log(url, data)
	$.post(url, data, function(result) {
		if (!result || result.error) {
      alert('Failed to update. Please try again later');

		} else {
      alert('Update start');
		}
  });
  
  return false;
}

function onSystemUpgrade() {
  var url = "/system/write";

	var data = {
    upgrade: "system"
	}

	console.log(url, data)
	$.post(url, data, function(result) {
		if (!result || result.error) {
      alert('Failed to upgrade. Please try again later');

		} else {
      alert('Upgrade start');
		}
  });
  
  return false;
}

function onSystemReboot() {
  if (!window.confirm("Are you sure want to reboot the device?")) {
    return;
  }
  
  var url = "/system/write";

  var data = {
    reboot: 5
  }

  console.log(url, data)
  $.post(url, data, function(result) {
    if (!result || result.error) {
      alert('Failed to reboot. Please try again later');

    } else {
      alert('Reboot start');
    }
  });

  return false;
}

$(document).ready(function () {
	$('#logout_item').click(OnLogout);

  onConfigRead();

  onStatusRead();
  setInterval(function() {
    onStatusRead();
  }, 2000)
});

</script>

</body>
</html>