Package: node-lua-i386
Version: 3.0.200
Architecture: i386
Maintainer: CMPP
Installed-Size: 1500
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: bluez,libbluetooth-dev
Recommends: 
Suggests: 
Breaks: 
Provides: SAE
Section: x11
Priority: optional
Homepage: http://wotcloud.sae.com.hk
Description: Modern IoT device embedded software development platform.
