
/** modem.css. */
.modem_signal { display: inline-block; width: 16px; height: 16px; margin: 0 5px;
	background: url('images/signal.png?v=20121211') no-repeat;  }
.signal5 { background-position: -80px 0; }
.signal4 { background-position: -64px 0; }
.signal3 { background-position: -48px 0; }
.signal2 { background-position: -32px 0; }
.signal1 { background-position: -16px 0; }
.wlan_lock { background: url('images/image16.png?v=20121211') no-repeat 0px -71px;
	display: inline-block; width: 20px; height: 20px; color: #fff; }

/** Storage format page style */
.format-header h2 { font-size: 120%; padding: 8px 8px; border-bottom: 1px solid #fff; }
.format-completed h2 { color: #cc0066; }

.format-status pre { background: #fff; padding: 5px 8px; border: 1px solid #ddd; 
	height: 300px; overflow: auto; }
.format-status { padding: 5px 10px; border-bottom: 1px solid #ddd; }
.format-footer { padding: 5px 8px; border-top: 1px solid #fff; }

/** matrix.css */
.matrix-block table { border-left: 1px solid #fff; border-top: 1px solid #fff; width: 700px; 
	user-select: none; table-layout: fixed;  }
.matrix-block thead th { height: 24px; border-right: 1px solid #fff; padding: 0;
	border-bottom: 1px solid #fff; text-align: center; color:#ccc; }
.matrix-block thead td { height: 24px; border-right: 1px solid #fff; 
	border-bottom: 1px solid #fff; text-align: center; color:#ccc; }
.matrix-block tbody th { height: 24px; border-right: 1px solid #fff; padding-right: 20px;
	border-bottom: 1px solid #fff; text-align: right; color:#999; cursor: pointer; }
.matrix-block tbody td { height: 24px; font-size: 2px;
	border-bottom: 1px solid #fff; border-right: 1px solid #fff; 
	text-align: center; padding: 0; cursor: default; background: #f1f1f2; }
.matrix-block tbody td.even { background: #eee; }
.matrix-block tbody td.selected { background: #daa; background-color: rgba(220, 180, 180, 0.7); }

/** checkbox.css */
td.check-state { line-height: 5px; }
span.check-state { line-height: 1px; }
.check-state span.border { display: inline-block; width: 18px; height: 18px; 
	vertical-align: middle; user-select: none; }
.check-state span.red  { background: url('images/image16.png?v=20121211') no-repeat 0px -22px;  }
.check-state span.blue { background: url('images/image16.png?v=20121211') no-repeat 0px -528px; }
.check-state span.gray { border: 1px solid #ddd; width: 10px; height: 10px; }
.check-state span.gray, .check-state span.blue, .check-state span.red { 
	_background-image: url('images/image16.gif?v=20121211'); }
