<!DOCTYPE html>
<html lang="en">

<head>
  <title>Activate</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="/favicon.ico?v=100003" type="image/x-icon" />
  <link rel="stylesheet" href="css/style.css?v=100003" />
  <script src="js/polyfill.js?v=100003"></script>
  <script src="js/jquery.min.js?v=100003"></script>
  <script src="js/vue.min.js?v=100003"></script>
  <script src="js/common.js?v=100003"></script>
</head>

<body class="home-body">
  <div id="app">
    <header id="header" class="header">
      <div class="header-inner">
        <div class="header-left">
          <label class="header-brand" id="header-brand">Activate</label>
        </div>

        <div class="header-right">
          <button type="button nav-item" class="btn btn-primary" onclick="onSystemActivate()">Activate</button>
        </div>
      </div>
    </header>

    <div class="form-content">
      <form id="activate-form" method="post" action="/activate" onsubmit="return onActivateSumbit()">
        <div class="form-header">
          <h3 class="form-title">Activate Settings</h3>
        </div>

        <div class="form-body">

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">DID (MAC):</label>
            <input type="text" name="did" v-model="system.did" class="form-control" maxLength="12"
              pattern="[0-9a-f]{12}" placeholder="12 numbers or 'a' to 'f'" required>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">API Base URL:</label>
            <input type="url" name="base" v-model="system.base" class="form-control" maxLength="255" required>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">MQTT URI:</label>
            <input type="url" name="mqtt" v-model="system.mqtt" class="form-control" maxLength="255" required>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Secret:</label>
            <input type="text" name="secret" v-model="system.secret" class="form-control" maxLength="24" required>
          </div>
        </div>

        <div class="form-header">
          <h3 class="form-title">Admin Password</h3>
        </div>

        <div class="form-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="text" name="password" v-model="system.password" class="form-control" maxLength="16" required>
          </div>
        </div>

        <div class="form-header">
          <h3 class="form-title">Hardware Information</h3>
        </div>

        <div class="form-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Serial Number:</label>
            <input type="text" name="serialNumber" v-model="system.serialNumber" class="form-control" maxLength="24">
          </div>
        </div>

        <button style="display: none;" id="submit-button" type="submit" class="btn btn-primary"
          onclick="onFormValidity();">Activate</button>
      </form>

      <div class="form-header">
        <h3 class="form-title">Device Information</h3>
      </div>

      <div class="form-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Software Version:</label>
            <input type="text" name="version" :value="system.version" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Firmware Version:</label>
            <input type="text" name="firmwareVersion" :value="system.firmwareVersion" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Hardware Version:</label>
            <input type="text" name="hardwareVersion" :value="system.hardwareVersion" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Model Number:</label>
            <input type="text" name="modelNumber" :value="system.modelNumber" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">MAC:</label>
            <input type="text" name="mac" :value="system.mac" class="form-control" readonly>
          </div>
        </form>
      </div>

      <div class="form-footer">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">&nbsp;</label>
          <button type="button" class="btn btn-primary" onclick="onSystemActivate()">Activate</button>
        </div>
      </div>

    </div>

    <footer id="footer"></footer>

  </div>
  <script>

    var $vueData = {
      did: '',
      base: '',
      mqtt: '',
      secret: '',
      password: '',
      system: {},
      update: {},
      cloud: {},
      firmware: {}
    }

    var config = {

    }

    var app = new Vue({
      el: '#app',
      data: $vueData
    })

    function onSystemRead() {
      var url = "/system/activate";
      $.get(url, function (result) {
        if (!result || result.error) {
          return;
        }

        $vueData.system = result.system || {}
      });

      return false;
    }

    function onSystemActivate() {
      onFormValidity();
      $("#submit-button").click();
      return false;
    }

    function onFormValidity() {
      try {
        var form = document.getElementById('activate-form');
        onFormItemValidity(form.password);

        onFormItemValidity(form.did);
        onFormItemValidity(form.base);
        onFormItemValidity(form.secret);
        onFormItemValidity(form.mqtt);

        onFormItemValidity(form.hardwareVersion);
        onFormItemValidity(form.serialNumber);

      } catch (e) {
        console.log(e);
        return false;
      }

      return true;
    }

    function onFormItemValidity(element) {
      var validity = element.validity
      if (validity == null || validity.valid) {
        element.setCustomValidity("");
        return;
      }

      var message = '';
      if (validity.valueMissing) {
        message = "Value is missing"
      }

      if (message) {
        element.setCustomValidity(message);
      }

      element.focus();
      throw 'test';
    }

    function onActivateSumbit() {
      var data = {
        did: $vueData.system.did,
        base: $vueData.system.base,
        secret: $vueData.system.secret,
        mqtt: $vueData.system.mqtt,
        hardwareVersion: $vueData.system.hardwareVersion,
        serialNumber: $vueData.system.serialNumber,
        password: $vueData.system.password
      }

      if (!window.confirm("Are you sure want to activate the device?")) {
        return false;
      }

      var url = "/system/activate";
      $.post(url, data, function (result) {
        if (!result || result.error) {
          alert('Failed to activate. Please try again later');

        } else {
          alert('Activate successfully');
          location.href = '/';
        }
      });

      return false;
    }

    $(document).ready(function () {

      onSystemRead();
    });

  </script>

</body>

</html>