<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gateway Settings</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="/favicon.ico?v=100003" type="image/x-icon" />
  <link rel="stylesheet" href="css/style.css?v=100003" />
  <script src="js/polyfill.js?v=100003"></script>
  <script src="js/jquery.min.js?v=100003"></script>
  <script src="js/vue.min.js?v=100003"></script>
  <script src="js/common.js?v=100003"></script>
</head>

<body class="home-body">
  <div id="app">
    <header id="header" class="header">
      <div class="header-inner">
        <div class="header-left">
          <label class="header-brand" id="header-brand">Settings</label>
        </div>

        <div class="header-center">
          <a class="nav-item" @click="currentTab='overview'" :class="{active: currentTab=='overview'}">Overview</a>
          <a class="nav-item" @click="currentTab='settings'" :class="{active: currentTab=='settings'}">Settings</a>
          <a class="nav-item" @click="currentTab='firmware'" :class="{active: currentTab=='firmware'}">Firmware</a>
          <a class="nav-item" @click="currentTab='config'" :class="{active: currentTab=='config'}">Config</a>
          <a class="nav-item" @click="currentTab='status'" :class="{active: currentTab=='status'}">Status</a>
        </div>

        <div class="header-right">
          <a class="nav-item" id="logout_item" href="#logout">Logout</a>
        </div>
      </div>
    </header>

    <section class="form-content" v-show="currentTab=='overview'" style="display: none;">

      <div class="form-header">
        <h3 class="form-title">System Status</h3>
      </div>

      <div class="form-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">Software Version:</label>
            <input type="text" name="version" :value="status.version" class="form-control" readonly>
          </div>

          <div class="form-group" v-if="status.hardwareVersion">
            <label class="col-form-label">Hardware Version:</label>
            <input type="text" name="hardwareVersion" :value="status.hardwareVersion" class="form-control" readonly>
          </div>

          <div class="form-group" v-if="status.firmwareVersion">
            <label class="col-form-label">Firmware Version:</label>
            <input type="text" name="firmwareVersion" :value="status.firmwareVersion" class="form-control" readonly>
          </div>

          <div class="form-group" v-if="status.serialNumber">
            <label class="col-form-label">Serial Number:</label>
            <input type="text" name="serialNumber" :value="status.serialNumber" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label class="col-form-label">System Time:</label>
            <input type="text" name="datetime" :value="status.datetime" class="form-control" readonly>
          </div>
        </form>
      </div>

      <template v-if="network && network.ethernet">
        <div class="form-header">
          <h3 class="form-title">Ethernet Status</h3>
        </div>

        <div class="form-body" v-for="interface in [network.ethernet]">
          <form>
            <div class="form-group">
              <label class="col-form-label">MAC:</label>
              <input type="text" name="mac" :value="interface.mac" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">IP:</label>
              <input type="text" name="ip" :value="interface.ip" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">Netmask:</label>
              <input type="text" name="netmask" :value="interface.netmask" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">Gateway:</label>
              <input type="text" name="router" :value="interface.router" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">Name Servers:</label>
              <input type="text" name="dns" :value="interface.dns" class="form-control" readonly>
            </div>
          </form>
        </div>
      </template>

      <template v-if="network && network.wan && network.imsi">
        <div class="form-header">
          <h3 class="form-title">WAN Status</h3>
        </div>

        <div class="form-body" v-for="interface in [network.wan]">
          <form>
            <div class="form-group">
              <label class="col-form-label">Operater:</label>
              <input type="text" name="operater" :value="interface.operater" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">IP:</label>
              <input type="text" name="ip" :value="interface.ip || '-'" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">ICCID:</label>
              <input type="text" name="iccid" :value="interface.iccid" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">IMSI:</label>
              <input type="text" name="imsi" :value="interface.imsi" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label class="col-form-label">Signal Strength:</label>
              <input type="text" name="signalStrength" :value="interface.signalStrength" class="form-control" readonly>
            </div>
          </form>
        </div>
      </template>

      <form>
        <div class="form-header">
          <h3 class="form-title">Register Status</h3>
        </div>

        <div class="form-body">
          <div class="form-group">
            <label class="col-form-label">DID:</label>
            <input type="text" name="did" :value="status.did" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label class="col-form-label">State:</label>
            <input type="text" name="state" :value="register.state || '-'" class="form-control" readonly>
          </div>

          <div class="form-group" v-show="register.expires!=null">
            <label class="col-form-label">Expires (s):</label>
            <input type="text" name="expires" :value="register.expires" class="form-control" readonly>
          </div>

          <div class="form-group" v-show="register.updated!=null">
            <label class="col-form-label">Updated (s):</label>
            <input type="text" name="updated" :value="register.updated" class="form-control" readonly>
          </div>
        </div>

        <div class="form-footer"></div>
      </form>
    </section>

    <section class="form-content" v-show="currentTab=='status'" style="display: none;">
      <div class="form-header">
        <h3 class="form-title">System Status</h3>
      </div>

      <div class="form-body">
        <form id="status-form" enctype="multipart/form-data">

          <div class="form-group">
            <label class="col-form-label">WoT client status:</label>
            <a href="/status/wotc/status" target="status">GET /status/wotc/status</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Bluetooth status:</label>
            <a href="/status/gateway/bluetooth" target="status">GET /status/gateway/bluetooth</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Media status:</label>
            <a href="/status/gateway/camera" target="status">GET /status/gateway/camera</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Tags status:</label>
            <a href="/status/gateway/tags" target="status">GET /status/gateway/tags</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Bluetooth devices:</label>
            <a href="/status/gateway/beacons" target="status">GET /status/gateway/beacons</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Modbus status:</label>
            <a href="/status/gateway/modbus" target="status">GET /status/gateway/modbus</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Gateway status:</label>
            <a href="/status/gateway/status" target="status">GET /status/gateway/status</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Things:</label>
            <a href="/status/gateway/things" target="status">GET /status/gateway/things</a>
          </div>

          <div class="form-group">
            <label class="col-form-label">Logs:</label>
            <a href="/status/gateway/logs" target="status">GET /status/gateway/logs</a>
          </div>
        </form>
      </div>

      <div class="form-footer"></div>
    </section>

    <section class="form-content" v-show="currentTab=='settings'" style="display: none;">

      <form id="network-form" onsubmit="return onConfigSubmit();">
        <div class="form-header">
          <h3 class="form-title">Network Settings</h3>
        </div>

        <div class="form-body">
          <div class="form-group">
            <label class="col-form-label">WAN Network:</label>
            <select name="net_mode" v-model="net_mode" class="form-control">
              <option value="wired">Wired</option>
              <option value="ppp">Wireless (4G)</option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label">IP Mode:</label>
            <select id="ip_mode" name="ip_mode" v-model="ip_mode" class="form-control" :readonly="false">
              <option value="static">Static IP</option>
              <option value="dhcp">DHCP</option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label">IP:</label>
            <input id="ip" type="text" name="ip" data-format="ip" v-model="ip" class="form-control"
              :readonly="ip_mode!='static'" :required="ip_mode=='static'">
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Netmask:</label>
            <input id="netmask" type="text" name="netmask" data-format="ip" v-model="netmask" class="form-control"
              :readonly="ip_mode!='static'" :required="ip_mode=='static'">
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Router:</label>
            <input id="router" type="text" name="router" data-format="ip" v-model="router" class="form-control"
              :readonly="ip_mode!='static'" :required="ip_mode=='static'">
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">DNS Server:</label>
            <input id="dns" type="text" name="dns" data-format="ips" v-model="dns" class="form-control"
              :readonly="ip_mode!='static'" :required="ip_mode=='static'">
          </div>
        </div>

        <div class="form-header">
          <h3 class="form-title">Server Settings</h3>
        </div>

        <div class="form-body">
          <div class="form-group">
            <label class="col-form-label">API Base URL:</label>
            <input type="text" name="base" v-model="base" class="form-control">
          </div>

          <div class="form-group">
            <label class="col-form-label">MQTT URI:</label>
            <input type="text" name="mqtt" v-model="mqtt" class="form-control">
          </div>

          <button id="submit-button" type="submit" style="display: none">submit</button>

          <div class="form-footer">
            <label class="col-form-label">&nbsp;</label>
            <button type="button" class="btn btn-secondary" onclick="onConfigReset()">Reset</button>
            <button type="button" class="btn btn-primary" onclick="onConfigWrite()">Submit</button>
          </div>
        </div>
      </form>
    </section>

    <section class="form-content" v-show="currentTab=='firmware'" style="display: none;">
      <form id="firmware-status-form">
        <div class="form-header">
          <h3 class="form-title">Frimware Update</h3>
        </div>

        <div class="form-body">
          <div class="form-group">
            <label class="col-form-label">Current Version:</label>
            <input type="text" name="version" :value="status.version" class="form-control" readonly>
          </div>

          <div class="form-group" v-if="firmware.version">
            <label class="col-form-label">Version:</label>
            <input type="text" name="version" :value="firmware.version || '-'" class="form-control" readonly>
          </div>

          <div class="form-group" v-if="firmware.description">
            <label class="col-form-label">Description:</label>
            <input type="text" name="description" :value="firmware.description || '-'" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label class="col-form-label">State:</label>
            <input type="text" name="state" :value="update.state || '-'" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label class="col-form-label">Result:</label>
            <input type="text" name="result" :value="update.result || '-'" class="form-control" readonly>
          </div>

          <div class="form-group" v-show="updateStatus">
            <label class="col-form-label">Status:</label>
            <label v-text="updateStatus"></label>
          </div>
        </div>

        <div class="form-footer">
          <label class="col-form-label">&nbsp;</label>
          <button type="button" class="btn btn-primary" onclick="onSystemUpdate()">Update</button>
          <button type="button" class="btn btn-primary" onclick="onSystemUpgrade()">Upgrade</button>
        </div>

      </form>

      <form id="firmware-form" enctype="multipart/form-data">
        <div class="form-header">
          <h3 class="form-title">Frimware Upload</h3>
        </div>

        <div class="form-body">


          <div class="form-group">
            <label class="col-form-label">File:</label>
            <input type="file" name="file" class="form-control form-file">
          </div>

          <div class="form-group" v-show="uploadStatus">
            <label class="col-form-label">Status:</label>
            <label v-text="uploadStatus"></label>
          </div>

        </div>

        <div class="form-footer">
          <div class="form-group">
            <label class="col-form-label">&nbsp;</label>
            <button type="button" class="btn btn-primary" onclick="onSystemUpload()">Upload</button>
            <button type="button" class="btn btn-primary" onclick="onSystemInstall()">Install</button>
          </div>
        </div>
      </form>

      <div class="form-header">
        <h3 class="form-title">Device Management</h3>
      </div>

      <div class="form-footer">
        <label class="col-form-label">&nbsp;</label>
        <button type="button" class="btn btn-primary" onclick="onSystemReboot()">Reboot</button>
        <button type="button" class="btn btn-primary" onclick="onSystemReset()">Factory Reset</button>
      </div>

      <div class="form-header" v-if="responseData">
        <h3 class="form-title">Response Data</h3>
        <pre v-text="responseData" style="padding: 8px 16px;">

        </pre>
      </div>

    </section>

    <section class="form-content" v-show="currentTab=='config'" style="display: none;">
      <form id="network-form" onsubmit="return onPostUserConfig();">
        <div class="form-header">
          <h3 class="form-title">Gateway Config</h3>
        </div>

        <div class="form-body">
          <div class="form-group">
            <textarea class="form-control" v-model="gateway" rows="24"></textarea>
          </div>
        </div>

        <div class="form-footer">
          <label class="col-form-label">&nbsp;</label>
          <button type="button" class="btn btn-primary" onclick="onPostUserConfig()">Submit</button>
        </div>
      </form>
    </section>
  </div>

  <footer id="footer"></footer>
  <script src="js/index.js"></script>
</body>

</html>