<!DOCTYPE html>
<html lang="en">

<head>
	<title>Settings</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="/favicon.ico?v=100003" type="image/x-icon" />
	<link rel="stylesheet" href="css/style.css?v=100003" />
  <script src="js/polyfill.js?v=100003"></script>
  <script src="js/jquery.min.js?v=100003"></script>
  <script src="js/vue.min.js?v=100003"></script>
	<script src="js/common.js?v=100003"></script>
	<style>
    header#header { background: #0063B1; }
    .header-brand { line-height: 64px; padding: 0 16px; color: #fff; font-weight: 500;
      margin: 0; }

    .form-content { padding: 0 16px; max-width: 600px; margin: 0 auto; }
    .form-content .form-control { min-width: 220px; display: inline-block;
      border-radius: 3px; font-size: 100%; line-height: 36px; }
    .form-content .form-file { padding: 0; width: 220px; background: #eee; }
    .form-content h3 { margin: 24px 0 24px; font-size: 110%; color: #333; 
      font-weight: 500; }

    .form-footer { margin-top: 16px; margin-bottom: 16px; padding-bottom: 16px;
      border-bottom: 1px solid #ddd; }
    .col-form-label { display: inline-block; min-width: 100px; }

	@media screen and (min-width: 480px) {}
	</style>
</head>

<body class="home-body">
<div id="app">
  <header id="header" class="header">
    <div class="header-inner">
      <div class="header-right">
        <a id="logout_item" href="#logout">Logout</a>
      </div>

      <label class="header-brand" id="header-brand">Settings</label>
    </div>
  </header>

  <div class="form-content">
    <div class="form-header">
      <h3 class="form-title">Network Settings</h3>
    </div>

    <div class="form-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">IP Mode:</label>
          <select name="ip_mode" v-model="ip_mode" class="form-control">
            <option value="static">Static IP</option>
            <option value="dhcp">DHCP</option>
          </select>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">IP:</label>
          <input type="text" name="ip" v-model="ip" class="form-control" :disabled="ip_mode!='static'">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">Netmask:</label>
          <input type="text" name="netmask" v-model="netmask" class="form-control" :disabled="ip_mode!='static'">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">Router:</label>
          <input type="text" name="router" v-model="router" class="form-control" :disabled="ip_mode!='static'">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">DNS Server:</label>
          <input type="text" name="dns" v-model="dns" class="form-control" :disabled="ip_mode!='static'">
        </div>
      </form>
    </div>

    <div class="form-footer">
      <label for="recipient-name" class="col-form-label">&nbsp;</label>
      <button type="button" class="btn btn-secondary" onclick="onConfigReset()">Reset</button>
      <button type="button" class="btn btn-primary" onclick="onConfigWrite()">Submit</button>
    </div>

    <div class="form-header">
      <h3 class="form-title">System Status</h3>
    </div>

    <div class="form-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Version:</label>
          <input type="text" name="ip" :value="status.version" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">MAC:</label>
          <input type="text" name="ip" :value="status.mac" class="form-control" disabled>
        </div>
      </form>
    </div>

    <div class="form-header">
      <h3 class="form-title">System Config</h3>
    </div>

    <div class="form-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">DID:</label>
          <input type="text" name="did" :value="status.did" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">API Base URL:</label>
          <input type="text" name="base" :value="status.base" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">MQTT URI:</label>
          <input type="text" name="mqtt" :value="status.mqtt" class="form-control" disabled>
        </div>

      </form>
    </div>

    <div class="form-header">
        <h3 class="form-title">Register Status</h3>
      </div>
  
      <div class="form-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">State:</label>
            <input type="text" name="state" :value="register.state" class="form-control" disabled>
          </div>
  
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Expires:</label>
            <input type="text" name="expires" :value="register.expires" class="form-control" disabled>
          </div>
  
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Updated:</label>
            <input type="text" name="updated" :value="register.updated" class="form-control" disabled>
          </div>
  
        </form>
      </div>

    <div class="form-header">
      <h3 class="form-title">Frimware Update</h3>
    </div>

    <div class="form-body">
      <form id="firmware-form" enctype="multipart/form-data">
        <div class="form-group" v-if="firmware.version">
          <label for="recipient-name" class="col-form-label">Version:</label>
          <input type="text" name="version" :value="firmware.version" class="form-control" disabled>
        </div>

        <div class="form-group" v-if="firmware.description">
          <label for="recipient-name" class="col-form-label">Description:</label>
          <input type="text" name="description" :value="firmware.description" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">State:</label>
          <input type="text" name="state" :value="update.state" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Result:</label>
          <input type="text" name="result" :value="update.result" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">File:</label>
          <input type="file" name="file" class="form-control form-file">
        </div>
      </form>
    </div>

    <div class="form-footer">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">&nbsp;</label>
        <button type="button" class="btn btn-primary" onclick="onSystemUpdate()">Update</button>
        <button type="button" class="btn btn-primary" onclick="onSystemUpload()">Upload</button>
        <button type="button" class="btn btn-primary" onclick="onSystemInstall()">Install</button>
      </div>
    </div>

    <div class="form-header">
      <h3 class="form-title">Device Management</h3>
    </div>   

    <div class="form-footer">
      <label for="recipient-name" class="col-form-label">&nbsp;</label>
      <button type="button" class="btn btn-primary" onclick="onSystemUpgrade()">Upgrade</button>
      <button type="button" class="btn btn-primary" onclick="onSystemReboot()">Reboot</button>
      <button type="button" class="btn btn-primary" onclick="onSystemReset()">Factory Reset</button>
      
    </div>
  </div>

  <footer id="footer"></footer>

</div>
<script>

var $vueData = {
  ip_mode: 'static',
  ip: '192.168.1.12',
  netmask: '255.255.255.0',
  router: '192.168.1.1',
  dns: '8.8.8.8 192.168.1.1',
  status: {},
  update: {},
  register: {},
  firmware: {}
}

var config = {

}

var app = new Vue({
	el: '#app',
	data: $vueData
})

function onSystemRead() {
  var updateStates = ['INIT', 'DOWNLOADING', 'DOWNLOAD_COMPLETED', 'UPDATING'];
  var updateResult = ['INIT', 'SUCCESSFULLY', 'NOT_ENOUGH_FLASH', 'NOT_ENOUGH_RAM', 
    'DISCONNECTED', 'VALIDATION_FAILED', 'UNSUPPORTED_FIRMWARE_TYPE', 'INVALID_URI', 
    'FAILED', 'UNSUPPORTED_PROTOCOL'];
  var registerStates = ['UNREGISTER', 'REGISTER']

	var url = "/system/read";
	$.get(url, function(result) {
    
    setTimeout(function() {
      onSystemRead();
    }, 2000)

		if (!result || result.error) {
			return;
    }

    var update = result.update || {};
    update.state  = updateStates[update.state]  || update.state;
    update.result = updateResult[update.result] || update.result;

    var register = result.register || {};
    register.state  = registerStates[register.state]  || register.state;
    register.updated = Date.now() - (Number.parseInt(register.updated) || 0);
    register.updated = Math.floor(register.updated / 1000);
       
    $vueData.status = result.system || {}
    $vueData.register = register || {}
    $vueData.update = update || {}
    $vueData.firmware = result.firmware || {}
	});

	return false;
}

function onConfigRead() {
	var url = "/config/read";
	$.get(url, function(result) {
		if (!result || result.error) {
			return;
    }
    
    $vueData.ip_mode = result.ip_mode
    $vueData.ip = result.ip
    $vueData.netmask = result.netmask
    $vueData.router = result.router
    $vueData.dns = result.dns

    config.network = result
	});

	return false;
}

function onConfigReset() {
  var result = config.network || {}

  $vueData.ip_mode = result.ip_mode
  $vueData.ip = result.ip
  $vueData.netmask = result.netmask
  $vueData.router = result.router
  $vueData.dns = result.dns
}

function onConfigWrite(callback) {
	var url = "/config/write";

	var data = {
    router: $vueData.router,
    dns: $vueData.dns,
		netmask: $vueData.netmask,
    ip: $vueData.ip,
		ip_mode: $vueData.ip_mode
	}

	console.log(url, data)
	$.post(url, data, function(result) {
		if (!result || result.error) {
      alert('Failed to save. Please try again later');

		} else {
      alert('Save successfully');
		}
  });
  
  return false;
}

function onSystemUpload() {
  var form = document.getElementById('firmware-form')
  var formData = new FormData(form);
  $.ajax({
      url: '/upload',
      data: formData,
      type: 'post',
      cache: false,
      processData: false,
      contentType: 'multipart/form-data',
      success: function (result) {
        console.log(result)
        alert('Upload Done')
      },
      error: function (result) {
        console.log(result)
        alert('Upload Error. Please try again later')
      }
  })
}

function onSystemUpdate() {
  var url = "/system/write";

	var data = {
    update: 1
	}

	console.log(url, data)
	$.post(url, data, function(result) {
		if (!result || result.error) {
      alert('Failed to update. Please try again later');

		} else {
      alert('Device will download the lastest firmware file from cloud');
		}
  });
  
  return false;
}

function onSystemUpgrade() {
  if (!window.confirm("Are you sure want to upgrade the device?")) {
    return;
  }

  var url = "/system/write";

	var data = {
    upgrade: "system"
	}

	console.log(url, data)
	$.post(url, data, function(result) {
		if (!result || result.error) {
      alert('Failed to upgrade. Please try again later');

		} else {
      alert('Upgrade will start in 5 seconds');
		}
  });
  
  return false;
}

function onSystemReboot() {
  if (!window.confirm("Are you sure want to reboot the device?")) {
    return;
  }
  
  var url = "/system/write";

  var data = {
    reboot: 5
  }

  console.log(url, data)
  $.post(url, data, function(result) {
    if (!result || result.error) {
      alert('Failed to reboot. Please try again later');

    } else {
      alert('Device will reboot in 5 seconds');
    }
  });

  return false;
}

function onSystemReset() {
  if (!window.confirm("Are you sure want to reset the device?")) {
    return;
  }
  
  var url = "/system/write";

  var data = {
    reset: 3
  }

  console.log(url, data)
  $.post(url, data, function(result) {
    if (!result || result.error) {
      alert('Failed to reset. Please try again later');

    } else {
      alert('Device will reset in 3 seconds');
      location.href = '/'
    }
  });

  return false;
}

function onSystemInstall() {
  if (!window.confirm("Are you sure want to install the uploaded firmware?")) {
    return;
  }
  
  var url = "/system/write";

  var data = {
    install: 3
  }

  console.log(url, data)
  $.post(url, data, function(result) {
    if (!result || result.error) {
      alert('Failed to install. Please try again later');

    } else {
      alert('Firmware will install in 3 seconds');
    }
  });

  return false;
}

$(document).ready(function () {
	$('#logout_item').click(OnLogout);

  onConfigRead();

  onSystemRead();
});

</script>

</body>
</html>