<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gateway Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/favicon.ico?v=20200710" type="image/x-icon">
  <link rel="stylesheet" href="css/wot-design.css?v=20200710" />
  <script src="js/polyfill.js?v=20200710"></script>
  <script src="js/vue.min.js?v=20200710"></script>
</head>

<body class="login-body">
  <div id="app-block">

    <div class="login-wrapper">

      <form method="post" @submit="onFormSubmit" onsubmit="return false;">
        <h2>{{lang.login_sign_in}}</h2>

        <div class="password-text"><label>{{lang.login_sign_in_subtitle}}</label>
        </div>
        <div style="min-height: 1px;"></div>
        <div class="form-group">
          <input class="form-control" name="username" type="text" size="32" value="admin"
            :placeholder="lang.login_username_tip" />
          <input class="form-control" id="login_password" name="password" type="password"
            :placeholder="lang.login_password_tip" size="32" maxlength="32" />
          <div>
            <p v-if="error.loadding">{{lang.login_loadding}}</p>
            <p v-if="error.empty" class="login_tip">{{lang.login_error_empty}}</p>
            <p v-if="error.invalid" class="login_tip">{{lang.login_error_invalid}}</p>
          </div>
        </div>

        <div><a href="#" @click="showForgotTip=!showForgotTip">{{lang.login_forgot}}</a></div>
        <div v-show="showForgotTip" style="display:none;"><label class="login_tip">{{lang.login_forgot_tip}}</label></div>

        <div class="buttons mt-3">
          <input type="hidden" name="login_name" value="admin" />
          <input type="submit" name="login_button" class="btn btn-primary" :value="lang.login_login" />
        </div>
      </form>
    </div>

    <footer id="footer" class="login-footer" v-if="deviceInfo">
      <span v-text="deviceInfo.modelNumber"></span>
      <span v-text="deviceInfo.deviceType"></span>
      <span v-text="deviceInfo.serialNumber"></span>
      <span v-text="deviceInfo.softwareVersion"></span>
    </footer>
  </div>
</body>
<script src="js/login.js?v=20200710"></script>
<script src="js/locate.en-US.js?v=20200710"></script>
<script src="js/locate.zh-CN.js?v=20200710"></script>
<script>
  $wot.init();
</script>
</html>